 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("/images/rest2.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1024px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  width: 520px;
  margin: 116px auto 0;
}

.u-section-1 .u-table-1 {
  margin-top: 19px;
  margin-bottom: 0;
}

.u-section-1 .u-table-header-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 900;
}

.u-section-1 .u-table-cell-1 {
  background-image: none;
  font-weight: 700;
}

.u-section-1 .u-table-cell-2 {
  background-image: none;
}

.u-section-1 .u-table-cell-3 {
  background-image: none;
}

.u-section-1 .u-table-cell-4 {
  background-image: none;
}

.u-section-1 .u-table-cell-5 {
  background-image: none;
}

.u-section-1 .u-table-cell-6 {
  background-image: none;
}

.u-section-1 .u-table-cell-7 {
  background-image: none;
}

.u-section-1 .u-table-cell-8 {
  background-image: none;
}

.u-section-1 .u-table-cell-9 {
  background-image: none;
}

.u-section-1 .u-table-cell-10 {
  background-image: none;
}

.u-section-1 .u-table-cell-11 {
  background-image: none;
}

.u-section-1 .u-table-cell-12 {
  background-image: none;
}

.u-section-1 .u-table-cell-13 {
  background-image: none;
}

.u-section-1 .u-table-cell-14 {
  background-image: none;
}

.u-section-1 .u-table-cell-15 {
  background-image: none;
}

.u-section-1 .u-table-cell-16 {
  background-image: none;
}

.u-section-1 .u-table-cell-17 {
  background-image: none;
}

.u-section-1 .u-table-cell-18 {
  background-image: none;
}

.u-section-1 .u-table-cell-19 {
  background-image: none;
}

.u-section-1 .u-table-cell-20 {
  background-image: none;
}

.u-section-1 .u-table-cell-21 {
  background-image: none;
}

.u-section-1 .u-table-cell-22 {
  background-image: none;
}

.u-section-1 .u-table-cell-23 {
  background-image: none;
}

.u-section-1 .u-table-cell-24 {
  background-image: none;
}

.u-section-1 .u-table-cell-25 {
  background-image: none;
}

.u-section-1 .u-table-cell-26 {
  background-image: none;
}

.u-section-1 .u-table-cell-27 {
  background-image: none;
}

.u-section-1 .u-table-cell-28 {
  background-image: none;
}

.u-section-1 .u-table-cell-29 {
  background-image: none;
}

.u-section-1 .u-table-cell-30 {
  background-image: none;
}

.u-section-1 .u-table-cell-31 {
  background-image: none;
}

.u-section-1 .u-table-cell-32 {
  background-image: none;
}

.u-section-1 .u-table-cell-33 {
  background-image: none;
}

.u-section-1 .u-table-cell-34 {
  background-image: none;
}

.u-section-1 .u-table-cell-35 {
  background-image: none;
}

.u-section-1 .u-table-cell-36 {
  background-image: none;
}

.u-section-1 .u-table-cell-37 {
  background-image: none;
}

.u-section-1 .u-table-cell-38 {
  background-image: none;
}

.u-section-1 .u-table-cell-39 {
  background-image: none;
}

.u-section-1 .u-table-cell-40 {
  background-image: none;
}

.u-section-1 .u-table-cell-41 {
  background-image: none;
}

.u-section-1 .u-table-cell-42 {
  background-image: none;
}

.u-section-1 .u-table-cell-43 {
  background-image: none;
}

.u-section-1 .u-table-cell-44 {
  background-image: none;
}

.u-section-1 .u-table-cell-45 {
  background-image: none;
}

.u-section-1 .u-table-cell-46 {
  background-image: none;
}

.u-section-1 .u-table-cell-47 {
  background-image: none;
}

.u-section-1 .u-table-cell-48 {
  background-image: none;
}

.u-section-1 .u-table-cell-49 {
  background-image: none;
}

.u-section-1 .u-table-cell-50 {
  background-image: none;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  font-size: 0.9375rem;
  background-image: none;
  margin: 32px auto 0 0;
  padding: 13px 22px 14px;
}

.u-section-1 .u-icon-1 {
  width: 25px;
  height: 25px;
  margin: -38px auto 0 19px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 878px;
  }

  .u-section-1 .u-text-1 {
    font-weight: normal;
    font-size: 2.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 500px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 340px;
  }
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
}

li {
	float: left;
	width: auto;
}
li a {
display: block;
    margin: 1px 3px 5px 5px;
    padding: 2px 10px;
    border-radius: 2px;
    background-color: #034561;
    color: #ffffff;
    font-size: 13px;
    text-decoration: none;
}

li a:hover {
	background-color: #034561;
}

ul:after {
	content: "";
	display: block;
	clear: both;
}