 .u-section-1 {
  min-height: 726px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: -64px auto 0 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 100vh;
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("/images/b7c6ddbe9435ddf27d494cdeea383f94f3569b990d5775eb517343b9f713427c5f8603dd87889e0491dbde88c77cd3d20bfbdb6d04713a5af9e019_1280.jpg");
  width: calc(100% + 50px);
  right: -50px;
  background-position: 50% 50%;
  transition-duration: 1.25s;
}

.u-section-1 .u-container-layout-1 {
  box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
  padding: 30px 0;
}

.u-section-1 .u-text-1 {
  text-shadow: 0px 0px 8px rgba(26,26,26,1);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-size: 6rem;
  text-transform: uppercase;
  line-height: 1;
  transition-duration: 0.5s;
  box-shadow: px 2px 0 0 rgba(0,0,0,0);
  font-weight: 700;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  width: 348px;
  margin: 0 auto;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 790px;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("/images/shilla-jeju11.jpg");
  transition-duration: 1.25s;
  width: calc(100% + 50px);
  left: -50px;
  background-position: 50% 50%;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("/images/shilla-jeju11.jpg");
  transition-duration: 1.25s;
  width: calc(100% + 50px);
  left: -50px;
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  padding: 30px 0;
}

.u-section-1 .u-text-2 {
  font-size: 6rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  text-shadow: 2px 2px 8px rgba(26,26,26,1);
  width: 248px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 430px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 651px;
    background-position: 50% 50%;
  }

  .u-section-1 .u-image-1 {
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    background-position: 50% 50%;
    min-height: 651px;
  }

  .u-section-1 .u-image-2 {
    width: auto;
  }

  .u-section-1 .u-image-2 {
    width: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 353px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 499px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 499px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 860px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 406px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 749px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 578px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 256px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 472px;
  }
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}