 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("/images/small.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1024px;
}

.u-section-1 .u-text-1 {
  font-size: 5.625rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 317px 56px 0;
}

.u-section-1 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 25px 56px 0;
}

.u-section-1 .u-btn-1 {
/*   border-radius: 10px;
  background-image: linear-gradient(135deg, #478ac9, #db545a);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 25px auto 60px;
  padding: 14px 32px 15px; */
  
  
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: rgba(var(---r),var(---g),var(---b),0);
  text-shadow: rgba(var(---r),var(---g),var(---b),0);
  margin: 17px auto 60px;
  padding: 10px 24px;
}


@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 844px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
    font-size: 1.25rem;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 535px;
  }

  .u-section-1 .u-text-1 {
    font-size: 6rem;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 401px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 252px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1024px;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 82px auto 0;
}

.u-section-2 .u-image-1 {
  width: 650px;
  min-height: 400px;
  background-image: url("/images/5161f202-16b7-706e-e036-440622b40a86.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 72px 40px 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 650px;
  min-height: 400px;
  background-image: url("/images/ralph-ravi-kayden-zSG-kd-L6vw-unsplash.jpg");
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -251px auto 0 10px;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -539px auto 0 10px;
}

.u-section-2 .u-text-3 {
  font-size: 0.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 930px 0 10px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 346px 300px 0 auto;
}

.u-section-2 .u-text-5 {
  font-size: 0.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 253px 0 687px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    width: 153px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 740px;
    margin-left: 0;
  }

  .u-section-2 .u-text-5 {
    margin-right: 153px;
    margin-left: 587px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-3 {
    margin-right: 520px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 230px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 43px;
    margin-left: 477px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-image-1 {
    width: 540px;
    margin-right: 0;
  }

  .u-section-2 .u-image-2 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 340px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 173px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 0;
    margin-left: 340px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    width: 340px;
  }

  .u-section-2 .u-image-2 {
    width: 340px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 140px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 109px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 140px;
  }
} .u-section-3 {
  min-height: 940px;
}

.u-section-3 .u-sheet-1 {
  min-height: 1024px;
}

.u-section-3 .u-group-elements-1 {
  width: 1223px;
  min-height: 720px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 86px auto 0 -83px;
}

.u-section-3 .u-image-1 {
  width: 870px;
  height: 645px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 0 0 auto;
}

.u-section-3 .u-shape-1 {
  width: 355px;
  height: 644px;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -569px auto 0 0;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 300px;
  margin: -409px auto 0 -57px;
}

.u-section-3 .u-text-2 {
  font-size: 0.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 8px 902px 0 -57px;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 8px 953px 0 -57px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-elements-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.25rem;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
  }

  .u-section-3 .u-text-2 {
    margin-right: 702px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 753px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-elements-1 {
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 482px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 533px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-elements-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 302px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 353px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-elements-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 102px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 153px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 1024px;
}

.u-section-4 .u-image-1 {
  width: 870px;
  height: 645px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 191px auto 0 0;
}

.u-section-4 .u-group-1 {
  width: 355px;
  background-image: none;
  min-height: 644px;
  height: auto;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -588px -84px 0 auto;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 25px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 237px 50px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 0.875rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 15px 7px 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 15px 0 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 913px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 534px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -477px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 780px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 401px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -344px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 351px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 252px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -195px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 334px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 1024px;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 202px;
  margin-bottom: 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-gap: 10px 10px;
  min-height: 621px;
}

.u-section-5 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-image-1 {
  height: 347px;
  margin: 0 auto;
}

.u-section-5 .u-text-1 {
  letter-spacing: 0px;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 0.875rem;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-3 {
  font-weight: 900;
  font-size: 1.25rem;
  margin: 11px 0 0 auto;
}

.u-section-5 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-image-2 {
  height: 347px;
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  letter-spacing: 0px;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-5 {
  font-size: 0.875rem;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-6 {
  font-weight: 900;
  font-size: 1.25rem;
  margin: 11px 0 0 auto;
}

.u-section-5 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-image-3 {
  height: 347px;
  object-position: 50% 0.9%;
  margin: 0 auto;
}

.u-section-5 .u-text-7 {
  letter-spacing: 0px;
  font-size: 1.5rem;
  text-transform: none;
  font-weight: 700;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-8 {
  font-size: 0.875rem;
  margin: 20px auto 0 0;
}

.u-section-5 .u-text-9 {
  font-weight: 900;
  font-size: 1.25rem;
  margin: 11px 0 0 auto;
}

.u-section-5 .u-btn-1 {
  font-size: 0.9375rem;
  background-image: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 60px;
  padding: 8px 33px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
    min-height: 510px;
  }

  .u-section-5 .u-image-1 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-3 {
    height: 281px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5.0000025px));
    min-height: 1191px;
  }

  .u-section-5 .u-image-1 {
    height: 333px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 333px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-3 {
    height: 333px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 577px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-2 {
    height: 577px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-3 {
    height: 577px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-image-1 {
    height: 355px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-2 {
    height: 355px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-image-3 {
    height: 355px;
    margin-right: initial;
    margin-left: initial;
  }
}